<app-subject-form></app-subject-form>

<div class="card">
  <h2>Subjects List</h2>

  <table>
    <thead>
    <tr>
      <th>Subject Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Physics</td>
      <td>Analyzes classical and modern literary works to understand cultural and historical contexts</td>
      <td>
        <button class="btn-edit">Edit</button>
        <button class="btn-delete">Delete</button>
      </td>
    </tr>
    <tr>
      <td>History</td>
      <td>Overview of world history from ancient times to modern era</td>
      <td>
        <button class="btn-edit">Edit</button>
        <button class="btn-delete">Delete</button>
      </td>
    </tr>
    <tr>
      <td>Chemistry</td>
      <td>Focuses on the composition, structure, properties, and reactions of matter</td>
      <td>
        <button class="btn-edit">Edit</button>
        <button class="btn-delete">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
