<app-grade-form></app-grade-form>

<div class="card">
  <h2>Grades List</h2>

  <table>
    <thead>
    <tr>
      <th>Student</th>
      <th>Subject</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Carol Lee</td>
      <td>Mathematics</td>
      <td>6</td>
      <td>
        <button class="btn-edit">Edit</button>
        <button class="btn-delete">Delete</button>
      </td>
    </tr>
    <tr>
      <td>Alice Johnson</td>
      <td>Physics</td>
      <td>8</td>
      <td>
        <button class="btn-edit">Edit</button>
        <button class="btn-delete">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
