<div class="row">
  <div class="col-md-4">
    <app-product-form></app-product-form>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-primary text-white">Products List</div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th><th>Description</th><th>Actions</th>
          </tr>
          </thead>
          <tbody>
            @for (product of products$ | async; track product.id) {
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>
                  <button class="btn btn-sm btn-warning me-2" (click)="onEdit(product)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="onDelete(product.id)">Delete</button>
                </td>
              </tr>
            } @empty {
              <tr><td colspan="3" class="text-center">No products yet</td></tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
